.main__nosotros{
    margin: 2em 1em;
}

.nosotros__principal-crds{
    background-color: #D9D9D9;
    padding: .5em;
    margin: 1em 0;
    border-radius: .4em;
    display: flex;
    flex-direction: column;
}
.nstrs__prcl-img{
    margin-bottom: .5em;
    height: 45vh;
    width: 100%;
    background: no-repeat center center/cover;
    border-radius: .5em;
}
.nstrs__prcl-img1{
    background-image: url(../images/nosotros/nosotros1.webp);
}
.nstrs__prcl-img2{
    background-image: url(../images/nosotros/nosotros2.webp);
}
.nstrs__btn{
    background-color: #222222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: .5em;
    font-size: 1.2em;
}
.nstrs__btn::before{
    content: 'La idea surgio de mi amigo cercano Eliser un dia de ocio mientras manejabamos haciendo una ruta, la idea era abrir un taller de mantenimiento de bibicletas, en plena pandemia empezamos a buscar un local para dar inicio a dicho emprendimiento. Un dos de mayo del 2021 se apertura por primera vez, haciendo algunas reparaciones basicas para luego pasar a hacer mantenimientos en general, pintados, restauracion y venta de bicicletas, Nuestra vision es la apertura ve varios locales a nivel distrital y que nuestra marca sea reconocida por la responsabilidad y eficaca del servicio';
    text-align: left;
    display: none;
}
.nstrs__prcl-text{
    display: none;
}
.nstrs__btn:hover:before{
    display: inline-block;
    color: #222222;
}
.nstrs__btn:hover{
    background-color: #D9D9D9;
    color: transparent;
}
.nstrs__btn2::before{
    content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum iure tempora unde, ducimus, ut cumque vitae in quasi alias obcaecati numquam. Adipisci, quos! Assumenda asperiores incidunt hic enim voluptate nesciunt, dolorum eum velit. Enim inventore quia officia quisquam quaerat nulla pariatur aperiam quis atque exercitationem, excepturi possimus delectus consectetur quos corrupti et velit placeat adipisci cum magni aliquam impedit! Nisi.';
}
@media (min-width: 850px){
    .nstrs__btn{
        display: none;
    }
    .nstrs__prcl-text{
        display: inline-block;
        font-size: 1.5em;
        max-width: 60vw;
        align-self: center;
        margin: 0 2em;
    }
    .nosotros__principal-crds{
        flex-direction: row;
    }
    .nosotros__principal-crds2{
        flex-direction: row-reverse;
    }
    .main__nosotros{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1200px){
    .main__nosotros{
        max-width: 1400px;
        margin: auto;
    }
    .nosotros__principal-crds{
        min-width: 1200px;
        max-width: 1300px;
    }
    .nosotros__principal-crds2{
        align-self: flex-end;
    }
}