.catalogo__container{
    max-width: 1152px;
    margin: auto;
    display: grid;
    min-height: 80vh;
    grid-template-columns: repeat(3,1fr);
}
.catalogo__option{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2em;
    border-radius: 12%;
    color: #F2E6CE;
    background: no-repeat center center/cover;
}
.catalogo__option-1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/accesorios.jpg);    
}
.catalogo__option-2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/repuestos.jpg);    
}
.catalogo__option-3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/servicioTecnico.jpg);    
}
.catalogo__option-4{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/restauracion.jpg);   
}
.catalogo__option-5{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/bicicletas.jpg);    
}
.catalogo__option-6{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        )
        ,url(../Images/Catalogo/armado.jpg);   
}

@media (max-width:970px) {
    .catalogo__container{
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
    }
}

@media (max-width:520px) {
    .catalogo__container{
        grid-template-columns: 1fr;
        max-width: 400px;
    }
    .catalogo__option{
        min-height: 30vh;
    }
}